#contact{
    grid-column:2;
    grid-row: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    color:#6C7476;
}

.program{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363636;
    padding:35px;
    color:white;
}

.program h1{
    margin-bottom: 30px;
}

.program p{
    font-size: 19px;
    margin-bottom: 10px;
}

.program span{
    font-weight: 600;
    margin-right:80px;
}

.contact-top{
    display: flex;
    flex-direction: row;
}

.contact-left{
    display: flex;
    flex-direction: column;
    padding:35px;
    width: 50%;
    justify-content: flex-start;
}

.contact-left img{
    width:100%;
}

.contact-left h1{
    margin-bottom: 30px;

}

.contact-left p{
    margin-bottom: 15px;
}

.contact-left p:nth-child(4){
    margin-top: 30px;
}

.contact-left p > span{
    color:#f19f1f;
    margin-right:10px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding:35px;
}

.contact-right h1{
    margin-bottom: 30px;

}

.contact-right form{
    display: flex;
    flex-direction: column;

}

.contact-right label{
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-right input{
    border:1px solid black;
    border-radius: 10px;
    height:50px;
    margin-bottom: 15px;
    padding-left:25px;
    font-size: 18px;
}

.contact-right input:focus{
    border: 1px solid #f19f1f;
    outline: 0 none;
}

.nl{
    display: flex;
    flex-direction: row;
}

.nl p{
    margin-top: 14px;
    margin-left: 10px;
}

.contact-right textarea{
    height:150px;
    border:1px solid black;
    border-radius: 10px;
    padding:10px;
    font-family: 'Muli', sans-serif;
    resize: none;
}

.contact-right textarea:focus{
    border: 1px solid #f19f1f;
    outline: 0 none;
}

.contact-right input:nth-child(10){
    background-color: #f19f1f;
    width:200px;
    padding: 0;
    color:white;
    border:none;
    border-radius: 0;
    font-weight:600;
    transition: background-color 0.5s ease;
}

.contact-right input:nth-child(10):hover{
    background-color: #c57e0d;
}

.contact-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bot h1{
    margin-bottom: 30px;
}

.contact-bot iframe{
    width:100%;
    height:400px;
}